.bgchurch { background-image: url("../assets/images/church.gif");
    background-size: cover; width: 100dvw; height: 100dvh; z-index: -1;}
.bgchurch::before { opacity: 1; } 
.bgchurch::after { opacity: 1; } 
.p1 { transform: translate(40dvw, 0); } 
.pic1 { opacity: 0; }
.pic1:nth-of-type(2) { opacity: 1; }
.p2 { transform: translate(-5dvw, 0); } 
.pic2 { opacity: 0; }
.pic2:nth-of-type(2) { opacity: 1; }
.tbox1 { transform: translate(-2dvw, -58dvh); width: 550px; font-size: 17px;} 
.tbox2 { transform: translate(-3dvw, -57dvh); width: 215px; } 
.lbox1 { width: 200px; transform: translate(0, -23dvh); } 
.lbox2 { width: 200px; transform: translate(-15dvw, 6dvh); } 
.bchurch { background-color: white; }
.gochurch { visibility: visible; opacity: 1;}
button.bchurch { 
    background-color: lightgray;
    color: var(--color);
    scale: 0.9;
}
button.bchurch:hover {
    scale: 1.1;
    background-color: white;
    border-color: gray;
    border-width: 3px;
    color: var(--color);
}