/*
? box-shadow: 6px 6px 6px white, -6px -6px 6px white, -6px 6px 6px white, 6px -6px 6px white;
*/

body {
    margin: 0;
    overflow: hidden;
}

.mainwrap {
    height: 100dvh;
    width: 100dvw;
    background-color: skyblue;
    display: flex;
}

.absolute {
    position: absolute;
}

.field {
    height: 200dvh;
    width: 200dvw;
    background: linear-gradient(transparent, var(--color), transparent);
    transform-origin: center bottom;
    rotate: 180deg;
    transition: all 0.9s ease-in-out;
    border-radius: 50dvw;
    left: -50dvw;
}

input {
    display: none;
}

label {
    border: 2px dashed black;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: var(--color);
    color: white;
    font-family: tahoma;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

label:hover {
    cursor: pointer;
    scale: 1.2;
    margin-left: 2px;
    margin-right: 2px;
}

.labelholder {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    top: 4dvh;
    left: 42dvw;
}

#one:checked ~ .labelholder .one {
    transform: translateY(3dvh) rotate(1turn);
}

#two:checked ~ .labelholder .two {
    transform: translateY(3dvh) rotate(1turn);
}

#three:checked ~ .labelholder .three {
    transform: translateY(3dvh) rotate(1turn);
}

#four:checked ~ .labelholder .four {
    transform: translateY(3dvh) rotate(1turn);
}

#five:checked ~ .labelholder .five {
    transform: translateY(3dvh) rotate(1turn);
}

#six:checked ~ .labelholder .six {
    transform: translateY(3dvh) rotate(1turn);
}

#seven:checked ~ .labelholder .seven {
    transform: translateY(3dvh) rotate(1turn);
}

#one:checked ~ .a {
    rotate: 0deg;
}

#two:checked ~ .b {
    rotate: 0deg;
}

#three:checked ~ .c {
    rotate: 0deg;
}

#four:checked ~ .d {
    rotate: 0deg;
}

#five:checked ~ .e {
    rotate: 0deg;
}

#six:checked ~ .f {
    rotate: 0deg;
}

#seven:checked ~ .g {
    rotate: 0deg;
}

#one:checked ~ .b, .c, .d, .e, .f, .g, .h {
    rotate: -180deg;
}

#two:checked ~ .a, .c, .d, .e, .f, .g, .h {
    rotate: 180deg;
}

#three:checked ~ .a, .b, .d, .e, .f, .g, .h {
    rotate: -180deg;
}

#four:checked ~ .a, .b, .c, .e, .f, .g, .h {
    rotate: 180deg;
}

#five:checked ~ .a, .b, .c, .d, .f, .g, .h {
    rotate: -180deg;
}

#six:checked ~ .a, .b, .c, .d, .e, .g, .h {
    rotate: 180deg;;
}

#seven:checked ~ .a, .b, .c, .d, .e, .f, .h {
    rotate: -180deg;
}

.box {
    position: absolute;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 18px;
    left: 47dvw;
}

.backbtn {
    top: 5dvh;
    left: 90dvw;
    height: 25px;
    width: 90px;
    border: 2px solid white;
    background: linear-gradient(217deg, rgba(7, 85, 85, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(99, 99, 18, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(120, 14, 120, 0.8), rgba(0,0,255,0) 70.71%);
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: tahoma;
    font-weight: 550;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.backbtn:hover {
    scale: 1.54;
    border-color: yellow;
    color: yellow;
}

.paragraph {
    left: 52dvw;
}

.bubble {
    width: 500px;
    height: 500px;
    position: absolute;
    border: 2px solid white;
    display: flex;
    align-items: center;
    border-radius: 500px;
    justify-content: center;
    background: linear-gradient(125deg, transparent, rgba(255, 255, 255, 0.5), transparent);
}

.smol {
    width: 400px;
    height: 400px;
}

.smoller {
    width: 250px;
    height: 250px;
    border-radius: 250px;
}

.smoller p {
    width: 210px;
    font-size: 14px;
}

.bub1 {
    top: 10dvh;
    left: 120dvw;
}

.bub2 {
    top: 40dvh;
    left: 88dvw;
}

.bubble:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50px;
    top: 30px;
    left: 320px;
}

.bubble:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid white;
    border-radius: 20px;
    top: 75px;
    left: 390px;
}

.smol:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid white;
    border-radius: 40px;
    top: 10px;
    left: 220px;
}

.smol:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 4px solid white;
    border-radius: 16px;
    top: 45px;
    left: 275px;
}

.smoller:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid white;
    border-radius: 20px;
    top: 22px;
    left: 175px;
}

.smoller:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid white;
    border-radius: 8px;
    top: 45px;
    left: 205px;
}

p {
    width: 310px;
    height: fit-content;
    text-align: justify;
    text-indent: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.smol p {
    width: 240px;
    font-size: 14px;
}

.bub3 {
    left: 68dvw;
}

.bub4 {
    top: 30dvh;
}